@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;700 & display=swap');
:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.conteiner{
    background: #fff;
    max-width: 480px;
    min-height: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
.input-tarefa{
    border: 1px solid rgb(145, 143, 143);
    border-radius: 5px;
    min-width: 250px;
    padding: 3px 5px;
    font-size: 15px;
    
}
.input-tarefa:focus{
    outline: 1px solid black;
}
.btn-tarefa, .apagar{
    padding:  3px 8px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn-tarefa:hover, .apagar:hover {
    background: rgb(23, 104, 122);
    
}


